/node_modules
/public/hot
/public/storage
/public/uploads/*
/public/temp/*
/storage/*.key
/vendor
/.idea
/.vagrant
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/assets/app/Warehouse/
/public/assets/app/radiologi/*
/public/assets/app/labpk/*
/public/assets/app/labpa/*
composer.lock
access_log
error_log
*.log
bootstrap/cache/*
storage/fonts
public/assets/ttd.jpg
settings/*
/settings/hospital.json
settings/hospital.json
/settings/settings.json
settings/settings.json
/public/downloads/pasien-surveilans-ptm/*
/public/downloads/laporan-penderita-baru-usia-15-59/*
public/downloads/laporan/pasien-surveilans-ptm/
public/downloads/print/penagihan/
public/Penagihan*.zip
public/downloads/laporan/*/*/*.xlsx
public/downloads/laporan/*/*/*.pdf
public/assets/img/farmasi-tv/sound/generate/*
public/zipfile/*